<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>example App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div>{{>header}}</div>
	<h2>{{{body}}}</h2>

		<br>
		<hr>
		<small>{{{body}}}</small>
		<br>
	{{>footer}}



</body>
</html>
