/* line 3, ../sass/style.scss */
.rojito {
  color: red;
  background-color: black;
}

/* line 9, ../sass/style.scss */
.nav-style {
  background-color: #9867C5;
}

/* line 13, ../sass/style.scss */
img {
  width: 124px;
}

/* line 16, ../sass/style.scss */
.anclas {
  padding-left: 650px;
}
