
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light nav-style">
			<a class="navbar-brand" href="#"><img src="Logo.png"></img></a>
			<ul class="nav">
				<li>jasñjdadj</li>
				<li>asdad</li>
				<li>vae</li>
				<li>asasdbvh</li>
				<li>fwqfsdfsd</li>
			</ul>
			
			
		</nav>
	</header>

