
	<header>
		<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-style">
			<a class="navbar-brand" href="#"><img src="Logo.png"></img></a>
			<ul class="navbar-nav anclas">
				<li class="nav-item active"><a class="nav-link" href="#">ejemplo1</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">ejemplo2</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">ejemplo3</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">ejemplo4</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">ejemplo5</a></li>
			</ul>
		</nav>
	</header>

