<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-item">
  <img src="views/recursos/angela-franklin-90851-unsplash.jpg" alt="banner">
  <div class="carousel-caption d-none d-md-block">
    <h5>Bienvenido a Trapel</h5>
    <p>La aplicacion movil de realidad aumentada ideal para tus viajes</p>
  </div>
</div>
   <div class="carousel-item">
  <img src="views/recursos/ben-white-124302-unsplash.jpg" alt="foto1">
  <div class="carousel-caption d-none d-md-block">
    <h5>Disfruta de una nueva forma de viajar</h5>
  </div>
</div>
   <div class="carousel-item">
  <img src="views/recursos/angela-franklin-90851-unsplash.jpg" alt="foto2">
  <div class="carousel-caption d-none d-md-block">
    <h5>Tus viajes en la palma de tu mano </h5>
  </div>
</div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

