  <section class="pt-5">
             <center><h1 class="text-dark">Cambiamos la manera de comunicarse con una ciudad... </h1></center>

              <div id="Caracteristicas" class="container-fluid row justify-content-md-center">
                  <div class="offset-md-1 col-md-3" role="alert">
                    <div style="width: 18rem;">
                    <img class="card-img-top" src="translate.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Transforma cualquier tipografia incomprensible para tí con la camara de una manera rapida y eficaz.</p>
                  </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-3" role="alert">
                    <div style="width: 18rem;">
                    <img class="card-img-top" src="ar.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Informate en todo momento sobre aquello que ves, tu campo de visión será un mapa lleno de opciones.</p>
                  </div>
                </div>
              </div>
                <div class="offset-md-1 col-md-3" role="alert">
                    <div style="width: 18rem;">
                    <img class="card-img-top" src="ticket.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Disfruta de la mejor opción para reservar y comprar interactuando con tu entorno.</p>
                  </div>
                </div>
              </div>
              </div>
            </section>
             <center><h4 class="text-dark">¡¡La tecnologia de realidad aumentada como nunca antes hubieses imaginado!!  </h4></center>