  <section class="pt-5">
  <section style="background-color: #830EF1">
             <center><h1 class="text-light">Cambiamos la manera de comunicarse con una ciudad... </h1></center>

              <div id="Caracteristicas" class="container-fluid row justify-content-md-center">
                  <div class="offset-md-1 col-md-3" role="alert">
                    <div style="width: 18rem;">
                    <img class="card-img-top" src="translate.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="text-light">Transforma cualquier tipografia incomprensible para tí con la camara de una manera rapida y eficaz.</p>
                  </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-3" role="alert">
                    <div style="width: 18rem;">
                    <img class="card-img-top" src="ar.png" alt="Card image cap">

                    <div class="card-body">
                      <p class="text-light">Informate en todo momento sobre aquello que ves, tu campo de visión será un mapa lleno de opciones.</p>
                  </div>
                </div>
              </div>
                <div class="offset-md-1 col-md-3" role="alert">
                    <div style="width: 18rem;">
                    <img class="card-img-top" src="ticket.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="text-light">Disfruta de la mejor opción para reservar y comprar interactuando con tu entorno.</p>
                  </div>
                </div>
              </div>
              </div>
            
             <center><h4 class="text-light">¡¡La tecnologia de realidad aumentada como nunca antes hubieses imaginado!!  </h4></center>
             <hr>
             </section>